

























/*#projet-about,*/
/*.boite,*/
/*#Skills-container{*/
/*    margin-top: 50px;*/
/*    margin-left: 30px;*/
/*    margin-right: 30px;*/

/*}*/


















#contact-p{
    left: 2px;
    /*margin-right:50% ;*/
    /*height: 150px;*/
    background-color: green;
    /*transform: translateX(-50%);*/
}
#contact-form{
    /*height: 150px;*/
    background-color: blue;
    right: 2px;
}

